<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qingqing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8683E7DF209018E0009FDB7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8683E7F7209018E0009FDB7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8683E802209018E0009FDB7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
